<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	  <!-- for Google -->
	  <meta name="description" content="Abraços!" />
	  <meta name="keywords" content="" />

	  <meta name="author" content="" />
	  <meta name="copyright" content="" />
	  <meta name="application-name" content="" />

	  <!-- for Facebook -->          
	  <meta property="og:title" content="Projeto de ES" />
	  <meta property="og:type" content="website" />
	  <meta property="og:image" content="" />
	  <meta property="og:url" content="" />
	  <meta property="og:description" content="Abraços!" />

	  <!-- for Twitter -->          
	  <meta name="twitter:card" content="website" />
	  <meta name="twitter:title" content="Projeto de ES" />
	  <meta name="twitter:description" content="Abraços!" />
	  <meta name="twitter:image" content="" />

	  <!-- for Whatsapp -->
	  <meta property="og:site_name" content="Projeto de ES">
	  <meta property="og:title" content="Projeto de ES" />
	  <meta property="og:description" content="Abraços!" />
	  <meta property="og:image" itemprop="image" content="">
	  <meta property="og:type" content="website" />
	  <script src="/node_modules/angular/angular.js"></script>
	  
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo!</p>
  </body>
</html>
